/* Body Style*/

body {
    font-family: 'Roboto Mono', monospace, sans-serif;
    display: contents;
    text-align: center;
    min-height: 100vh;
    background-color: aquamarine;    
}

/* Main Style*/
main{
    position: inherit;
    margin: 5px;
    padding: 5px;
    font-size: 150%;
}
.game-area {
    width: 75%;
    margin-top: 25%;
    margin-left: 25%;
}

/*Header Style*/
header{
    margin-left: 25%;
    font-size: 200%;
    color: brown;
    position: fixed;
    top: 0;
    display: contents;
}

/* make a choice */
h4{
    color: blue;
}

/*Score Area Style */
.score-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: red;
}
/*Display Choices Area Style */
.selection-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: blue;
}
/*Choices Style*/
.choice-area{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    
    
}

/*Rules style*/


h2{   
    font-size:100% ;
    text-align: center;
}
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: rgba(5, 5, 5, 0.459);
    color: rgba(0, 0, 255, 0.726);
    border-radius: 4px;
    padding: 2px 0;
    position:absolute;
    
}
  
  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/*Footer Style*/
footer {
    position: fixed; /*to move it to bottom*/
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 50%;
    color: black;
}

/*style buttons*/
button {
    font-size: 100%;
}

#result{
    color: red;
}
/* For screens with a minimum width of 768px */
@media (min-width: 768px) {
    header {
        font-size: 200%; /* Adjust header font size */
    }
    
    .choice-area {
        margin: 10px; /* Adjust margin for spacing between choices */
    }
}

/* For screens with a minimum width of 1024px */
@media (min-width: 1024px ) {
    body {
        font-size: 150%; /* Adjust font size for larger screens */

    }
    
    main {
        font-size: 200%; /* Adjust main content font size */
    }
    
}
/* For screens with a minimum width of 280px */

@media (min-width: 280px ) {
    header {
        font-size: 150%; /* Adjust header font size */
    }
    main {
        font-size: 125%; /* Adjust main content font size */
    }
    /* to align content to center*/
.game-area {
   
    display: inline;
   
}
/*style buttons*/
button {
    font-size: 75%;
}
}