/* Body Style*/

body {
font-family: 'Roboto Mono', monospace, sans-serif;
display: contents;
text-align: center;
width: 75%;
align-items: center;
min-height: 100vh;
margin :0

}

/* Main Style*/
main{
    position: inherit;
    margin: 5px;
    padding: 5px;
}

/*Header Style*/
header{
    font-size: 150%;
}

/*Score Area Style */
.score-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
/*Display Choices Area Style */
.selection-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
/*Choices Style*/
.choice-area{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    
}

/*Rules style*/


h2{   
    font-size:100% ;
    text-align: center;
}
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 320px;
    background-color: rgba(5, 5, 5, 0.459);
    color: #200dca;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    
}
  
  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/*Footer Style*/
footer {
    position: absolute; /*to move it to bottom*/
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 75%;
}

@media (min-width: 820px) {
    
}