/* Body Style*/

body {
    display: flex;
    width: 100%;
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 1rem;
    text-align: center;
    min-height: 100vh;
    background-color: aquamarine;
    flex-direction: column;
}

/* Main Style*/
main{
    display: grid;
    min-height: 100vh;
    min-width: 90vw;

}
.game-area {
    position: sticky;
    top: 25%;
    text-align: center;
}

/*Header Style*/
header{
    margin-left: 25%;
    font-size: 200%;
    color: brown;
    position: fixed;
    top: 0;
    display: contents;
}

/* make a choice */
h4{
    color: blue;
}

/*Score Area Style */
.score-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: red;
    padding: 25px 0;

}
/*Display Choices Area Style */
.selection-area{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 25px 0;
    color: blue;
}
/*Choices Style*/
.choice-area{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 25px 0;
    justify-content: center;
    
    
}

/*Rules style*/


h2{   
    font-size:100% ;
    text-align: center;
}
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: rgba(5, 5, 5, 0.459);
    color: rgba(0, 0, 255, 0.726);
    border-radius: 4px;
    padding: 2px 0;
    position:absolute;
    
}
  
  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/*Footer Style*/
footer {
    position: relative; /*to move it to bottom*/
    bottom: 0;
    margin-top: auto;
    text-align: center;
    width: 100%;
    font-size: 75%;
    color: black;
}

/*style buttons*/
button {
    font-size: 100%;
}

#result{
    color: red;
}

#rules-again-share{
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

/* For screens with a minimum width of 280px */

@media (min-width: 276px ) {
    header{
        font-size: medium;
    }
    body {
        font-size: small; /* Adjust header font size */
    }
   
    /* to align content to center*/
.game-area {
   
    display: inline;
   
}
/*style buttons*/
button {
    font-size: 75%;
}
}

/* For screens with a minimum width of 768px */
@media (min-width: 600px) {
    header {
        font-size: 140%; /* Adjust header font size */
    }
    body {
        font-size: 125%;
    }
    
    .choice-area {
        margin: 10px; /* Adjust margin for spacing between choices */
    }
}
